<pep-page-layout class="add-padding">
    <ng-container pep-top-area>
    <pep-top-bar [title]="(totalRows === 1 ? 'ListTotal_ShowingResult' : 'ListTotal_ShowingResults') | translate: { totalRows: totalRows, objectType: type | translate  }">
    <div header-end-content>
        <pep-search  class="pep-spacing-element pull-left flip"
                [value]="searchString" (search)="onSearchChanged($event)">
        </pep-search>
        <button mat-button (click)="addObject();"
            class="pep-spacing-element pep-button icon-button md weak pull-right flip">
            <mat-icon>
                <pep-icon name="number_plus"></pep-icon>
            </mat-icon>
        </button>
    </div>
    <pep-list-actions #listActions *ngIf="showListActions"
        (menuClick)="onMenuClicked();"
        (actionClick)="onMenuItemClicked($event)"
        [actions]="menuItems | async">
    </pep-list-actions>
    </pep-top-bar>
    </ng-container>
    <ng-container pep-main-area>
<!-- <div class="main-content ">
    <div class="content"> -->
        <pep-table [dataSource]="transactionTypes" 
        [displayedColumns]="displayedColumns"
        [customizeTable]="customizeDataRowField" 
        (selectedItemsChanged)="selectedRowsChanged($event)"
        (sortingChanged)="onSortingChanged($event);"
        (fieldClicked)="onCustomizeFieldClick($event)">
        </pep-table>

    <!-- </div>
</div> -->

    </ng-container>
</pep-page-layout>

<ng-template #atdDialogTemplate let-data>
    <pep-dialog class="dialog-new-type-container" [title]="'Add_New_Header' | translate: {objectType: data?.type }">
        <ng-container pep-dialog-content>
            <pep-textbox [mandatory]="true" [value]="data?.atdName" [label]="'Name' | translate" (valueChange)="atdName = $event"></pep-textbox>
            <pep-textarea [mandatory]="true" [value]="data?.atdDescription" [label]="'Description' | translate" [rowSpan]="2" (valueChange)="atdDescription = $event"></pep-textarea>
        </ng-container>
        <div pep-dialog-actions class="pep-spacing-element-negative">
                <button mat-button [mat-dialog-close]="null" class="pep-spacing-element pep-button md weak" (click)="closeAtdDialog()">
                    {{ 'ACTIONS.CANCEL' | translate }}
                </button>
                <button [disabled]="!atdName || !atdDescription" mat-button class="pep-spacing-element pep-button md strong" 
                    (click)="closeAtdDialog({'name': atdName, 'description': atdDescription})">
                    {{ 'ACTIONS.SAVE' | translate }}
                </button>
        </div>
    </pep-dialog>
</ng-template>