@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins';
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';

.add-padding {
    padding-inline: variables.$content-padding;

    @media (max-width: variables.$screen-max-size-xs) {
        padding-inline: 0;
    }
}

.dialog-new-type-container {
    pep-textarea {
        min-width: 30rem;
    }
}
