<div class="inline-top-bar-container">
    <pep-top-bar [title]="'inline top bar'" [inline]="true">
        <div header-end-content>
            <button class="mat-button pep-button weak sm spacing-element">
                button
            </button>
        </div>
        <pep-list-actions [actions]="menuItems" [sizeType]="'sm'"></pep-list-actions>
        <pep-list-chooser [options]="options" [sizeType]="'sm'"></pep-list-chooser>
    </pep-top-bar>
</div>
<div class="list-container" #listContainer>
    <pep-list
        [firstFieldAsLink]="false"
        [isReport]="true"
        [supportSorting]="false"
        [supportResizing]="false"
        [selectionTypeForActions]="'single'"
        [noDataFoundMsg]="'No data'"
        [parentScroll]="listContainer"
        (notifyListChanged)="onListChange($event)"
        (notifyFieldClicked)="onCustomizeFieldClick($event)"
        (notifySelectedItemsChanged)="selectedRowsChanged($event)">
    </pep-list>
</div>
