<div class="list-container" #listContainer>
    <pep-list
        [firstFieldAsLink]="false"
        [isReport]="true"
        [supportSorting]="true"
        [supportResizing]="false"
        [selectionTypeForActions]="'single'"
        [noDataFoundMsg]="'No data'"
        [parentScroll]="listContainer"
        (listChange)="listChanged.emit($event)"
        (sortingChange)="sortingChanged.emit($event)"
        (fieldClick)="fieldClicked.emit($event)"
        (selectedItemsChange)="selectedItemsChanged.emit($event)">
    </pep-list>
</div>
