div  {
    .title {
        line-height: var(--pep-top-bar-field-height,2.5rem)
    }
}

:host ::ng-deep #myFrame{
    min-height: calc(100vh - 230px) !important;
}

.settings-tabs {
    ::ng-deep.mat-tab-body-wrapper {
        height: 0;
    }
}