<pep-page-layout [addPadding]="true">
    <ng-container pep-top-area>
        <pep-top-bar >
            <div header-start-content>
                <button mat-button class="pep-spacing-element pep-button icon-button md weak pull-left flip"
                (click)="goBack();">
                <mat-icon>
                    <pep-icon name="arrow_left_alt"></pep-icon>
                </mat-icon>
                </button>
                <div *ngIf="atd?.ExternalID?.length > 0" class="pep-spacing-element title pull-left flip">
                    <span [title]="atd?.ExternalID" >{{ atd?.ExternalID }} - {{ type | translate }}</span>
                </div>
            </div>
        </pep-top-bar>
    </ng-container>
    <ng-container pep-main-area>
        <mat-tab-group
            class="settings-tabs"
            dynamicHeight #tabGroup            
            (selectedTabChange)="tabClick($event)"
            animationDuration="0ms">
            <mat-tab [disabled]='false'  *ngFor="let tab of tabs; let i = index; " id="tab.AddonUUID"  label="{{ tab.title | translate}}">
            </mat-tab>
        </mat-tab-group>
        <!-- <pep-remote-loader #addonProxy *ngIf="activeTab" [options]="activeTab" [hostObject]="hostObject"
        (hostEvents)="onAddonChange($event);"></pep-remote-loader> -->
        <pep-remote-loader-element #remoteLoaderElement *ngIf="remoteLoaderOptions" class="remote-loader"
                    [options]="remoteLoaderOptions"
                    [props]="{ hostObject: hostObject }"
                    [events]="{ hostEvents: onHostEventsCallback }">
                </pep-remote-loader-element>
    </ng-container>
</pep-page-layout>